<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Google</title>
    <script src="js/jquery-1.12.2.min.js" charset="utf-8"></script>
    <script src="js/microTemplates.js" charset="utf-8"></script>
    <script src="js/script.js" charset="utf-8"></script>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
  <div class="wrapper">
    <div class="search search--main">
      <input type="text" name="searchQuery" id="searchQuery" placeholder="Что вас беспокоит?">
      <input type="submit" value="Искать" id="searchButton">
    </div>

    <script type="text/template" id="content">
      <% for (i = 0; i < data.length; i++) { %>
        <div class="result">
          <p class="title">
            <a href="<%= data[i].link %>" class="link" target="blank">
              <%= data[i].htmlTitle %>
            </a>
          </p>
          <p class="linkInfo"><%= data[i].htmlFormattedUrl %></p>
          <p class="content">
            <%= data[i].htmlSnippet %>
          </p>
        </div>
        <% }; %>
      </script>
	  
      <div class="content"></div>
  </div>
</body>

</html>
