$width:                   1160px;
$width-min:               800px;
$width-logo:      			  206px;
$height-logo:      				38px;
$img-dir:          				'../../img/';
$dark-bg:                 #2a2d32;
$highlight:               #248cec;
$menu-separator:          #181a1d;
$search-bg:               #35383c;
$white:                   #fff;
$color-orange:            #f4b60d;
$color-subheader:         #9d9d9d; 
$color-text:              #8a8a8a;
$color-read:              #2a2b2e;
$accordion-border:        #e8e8e8;
$accord-separator-active: #f6c53d;
$grey-aside:              #f7f7f7;
$footer-menu-separator:   #393c40;
$footer-bg:               #35383c;
$blue:                    #0187f4;