body {
  font-family: Arial, sans-serif;
}
.wrapper {
  width: 100%;
  min-width: 800px;
  height: 100%;
  position: absolute;
}
.search {
  padding: 20px 20px 20px 45px;
  position: relative;
  background-color: #E6E6E6;
}
.search:after {
  content: '';
  display: block;
  clear: both;
  visibility: hidden;
}
.search #searchButton {
  cursor: pointer;
  box-sizing: border-box;
  color: white;
  border: none;
  border-style: solid;
  border-width: 1px;
  border-color: #d9d9d9;
  border-left: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #51982d;
  float: left;
  padding: 0 10px;
  margin: 0;
  height: 40px;
  font-size: 20px;
}
.search #searchButton:hover {
  background-color: #8ed869;
}
.search #searchQuery {
  border-style: solid;
  border-width: 1px;
  border-color: #d9d9d9;
  border-right: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  box-sizing: border-box;;
  float: left;
  width: 600px;
  padding: 10px;
  font-size: 24px;
  height: 40px;
}
.search--main {
  padding: 0;
  background-color: transparent;
  margin: 0;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.search--main #searchButton {
  float: none;
  border: none;
  border-radius: 5px;
  display: block;
  margin: 20px auto;
}
.search--main #searchQuery {
  margin: 0;
  float: none;
  height: auto;
  padding: 10px;
  text-align: left;
  display: block;
  border-radius: 0;
  border: 1px solid #d9d9d9;
}

.content .result:nth-child(even){
  background-color: #EEEEEE;
}
.content .result {
  font-size: 14px;
  padding: 10px 10px 10px 45px;
  box-sizing: border-box;
}
.content .result p:not(:last-child) {
  margin-bottom: 3px;
}
.content .link {
  font-size: 20px;
  text-decoration: none;
}
.content .link:hover {
  text-decoration: underline;;
}
.content .linkInfo {
  font-size: 16px;
  color: green;
}
