
.wrapper {
    display: block;
    max-width: 800px;
    min-width: 600px;
    margin: 0 auto;
}
.tabs {
    font-family: Tahoma, Arial, sans-serif;
    margin: 20px;
    padding: 10px;
    background: #007439;
}
.title__container {
    background: #FF8C00;
    padding-left: 5px;
    height: 35px;
}
.title {
    display: inline-block;
    background: #DF004F;
    color: white;
    padding: 0 15px;
    margin: 10px 3px 0 3px;
    font-size: 15px;
    height: 25px;
    cursor: pointer;
    line-height: 25px;
}
.title-active {
    color: black;
    background: white;
    cursor: default;
}
.title:not(.title-active):hover {
    background: #3F51B5;
}
.article__container {
    background: white;
    padding: 10px 10px 30px 10px;
    margin-bottom: 10px;
    border-radius: 0 0 5px 5px;
    font-size: 15px;
}
.article {
    display: none;
}
.article-active {
    display: block;
}
.article p {
    margin: 4px;
}

.registration {
    font-family: Tahoma, Arial, sans-serif;
    font-size: 15px;
    background: #6F9A00;
    margin: 20px;
    padding: 10px;
}
.inputs__container {
    background: #FC74D0;
    margin-bottom: 10px;
    padding: 15px;
}
.inputs__container label {
    display: inline-block;
    width: 70px;
}
.input {
    position: relative;
    padding: 10px 0;
}
.tooltip {
    color: white;
    position: absolute;
    border-radius: 3px;
    padding: 6px;
    top: 6px;
    left: 250px;
    margin-left: 10px;
    background: #9575CD;
    width: 240px;
    box-shadow: 0 0 4px 2px white;
}
